<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User table</title>
</head>
<body>

<style>
    table {
        border-collapse: collapse;
    }

    th, td {
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
<table>
    <caption> Users </caption>
    <tr>
        <th> User id</th>
        <th> User name</th>
        <th> User password</th>
        <th> User age</th>
        <th> User role</th>
        <th> Edit </th>
        <th> Delete </th>
    </tr>
    <th:block th:each="user:${userList}">
        <tr>
            <td th:text="${user.getId()}">User id</td>
            <td th:text="${user.getName()}">User name</td>
            <td th:text="${user.getPassword()}">User password</td>
            <td th:text="${user.getAge()}">User age</td>
            <td th:text="${user.getStringRole()}">User role</td>
            <td>
                <form action="/admin/updateUserForm" method="get">
                    <button name="id" th:value="${user.id}" type="submit" >Edit</button>
                </form>
            </td>
            <td>
                <form action="/admin/delete" method="get">
                    <button name="id" th:value="${user.id}" type="submit" >Delete</button>
                </form>
            </td>
        </tr>
    </th:block>
        <form action="/admin/userAdd" method="post">
            <td></td>
            <td><input name="name" placeholder="Name"/></td>
            <td><input name="password" placeholder="Password"/></td>
            <td><input name="age" placeholder="Age" type="number" min=1/></td>
            <td style="text-align: center">
                    <input type="checkbox" name="roles" value="admin" >admin<Br>
                    <input type="checkbox" checked="true" name="roles" value="user">user<Br>
            </td>
            <td colspan="2">
                <button>Add new user</button>
            </td>
        </form>
    </tr>
</table>
<form action="/logout" method="GET">
    <input type="submit" value="Log out">
</form>
</body>
</html>